<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="COVIDMARK_MARKET_OTOMASYONU.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <COVIDMARK_MARKET_OTOMASYONU.Properties.Settings>
      <setting name="acikKullanici" serializeAs="String">
        <value />
      </setting>
      <setting name="kullaniciGorev" serializeAs="String">
        <value />
      </setting>
    </COVIDMARK_MARKET_OTOMASYONU.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="covidmarkEntities" connectionString="metadata=res://*/covidmark.csdl|res://*/covidmark.ssdl|res://*/covidmark.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MYSCHERZO\SQLEXPRESS;initial catalog=asdasd;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>